.background {
  opacity: 0.3;
}

.main__bonuses {
  margin-top: 136px;
  padding: 0 16px 150px 106px;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.bonuses__head {}

h1 {
  font-weight: 700;
  font-size: 32px;
  font-family: Gilroy;
  margin-bottom: 24px;
}

.bonuses__change {
  display: flex;
  border-radius: 16px;
  width: 344px;
  height: 57px;
  background-color: #231b0bb3;
  margin-bottom: 32px;
  padding: 0 24px;
}

.bonuses__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  font-family: Gilroy;
  cursor: pointer;
  border-bottom: 2px solid #3b2b0d;
  padding: 18px 23.5px;
  color: #a68e62;
  width: 132px;
}

.bonuses__btn-active {
  border-bottom: 2px solid #fed970;
  margin-right: 32px;
  color: #FFF;
}

.bonuses__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.bonus__item {
  border: 1px solid #3b2b0d;
  border-radius: 20px;
  width: 377px;
  background: #1f1704;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bonus__item__img {
  border-radius: 20px 20px 0 0px;
  margin-bottom: 18px;
}

.bonus__item__title {
  font-weight: 700;
  font-size: 20px;
  font-family: Gilroy;
  margin-bottom: 25px;
}

.bonus__item__btn {
  margin-bottom: 24px;
  cursor: pointer;
  position: relative;
}

.bonus__item__btn span {
  height: 44px;
  line-height: 44px;
  padding: 0 75px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  font-weight: 700;
  border: 1px solid #eec248;
  box-shadow: 0 0 12.37px 0 rgba(232, 177, 29, 0.3),
    inset 0 -3.76px 8.84px 0 rgba(14, 10, 1, 0.53);
  background: radial-gradient(68.61% 223.81% at 93.07% 3.57%,
      rgba(249, 176, 26, 0.3) 0,
      rgba(249, 176, 26, 0) 63.51%),
    linear-gradient(177.78deg,
      rgba(249, 176, 26, 0.1) 0.9%,
      rgba(255, 255, 255, 0.1) 38.79%,
      rgba(249, 176, 26, 0.1) 97.18%),
    linear-gradient(0deg, rgba(249, 176, 26, 0.4), rgba(249, 176, 26, 0.4)),
    #1f1704;
  position: relative;
  transform: skew(-10deg);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bonus__item__btn::before {
  border: 1px solid #eec248;
  box-shadow: 0 0 12.37px 0 rgba(232, 177, 29, 0.3),
    inset 0 -3.76px 8.84px 0 rgba(14, 10, 1, 0.53);
  content: "";
  position: absolute;
  left: -4px;
  top: 4px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5.3px;
  transform: skew(-10deg);
}

.bonus__item__btn::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 0.5px;
  background: #eec248;
  left: -8px;
  bottom: 0;
  z-index: 4;
  transform: rotate(-55deg);
}

.conditions {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  font-family: Gilroy;
  margin-bottom: 20px;
  position: relative;
  margin-right: 25px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

.conditions::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 17px;
  background: #eec248;
  right: -25px;
  bottom: 0;
  z-index: 4;
  background: url('../assets/img/bonuses/arrowdown.svg');
  user-select: none;
  transition: all 0.3s ease;
}

.conditions__list {
  align-self: flex-start;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  align-items: start;
  gap: 10px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  font-family: Gilroy;
  position: relative;
  cursor: pointer;
  user-select: none;

}

.conditions__list.active {
  display: flex;
}

.conditions.active::before {
  transform: rotate(180deg);
}

.select__language-footer{
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}


/* ===================адаптив==================== */


@media (max-width: 650px){
  .bonuses__change {
    width: 272px;
    height: 49px;
    padding: 0 16px;
  }

  .bonuses__btn {
    font-weight: 700;
    font-size: 14px;
    padding: 18px 19px;
  }
  .bonuses__btn-active{
    margin-right: 16px;
  }
}

@media (max-width: 650px) {
  .about__us__border{
    margin: 0;
  }
  .main__bonuses {
    padding: 0 16px 52px 16px;
  }
  .select__language-footer{
    margin-top: 50px;
    display: flex;
  }
  .language1{
    display: block; 
    visibility: visible;
    opacity: 1;
    width: 70px;
  }

}