.bonuses__level__container {
  display: flex;
  gap: 17px;
  flex-wrap: wrap;
  z-index: 2;
}

.bonuse__level__item {
  background: linear-gradient(
    90deg,
    #251c06 0%,
    #251c06 40%,
    rgba(154, 78, 38, 0.2) 100%
  );
  border-radius: 12px;
  padding: 13px 36px;
  flex: 1;
  overflow: hidden;
  height: 51px;
}

.bonuse__item__title {
  font-weight: 600;
  font-size: 12px;
  font-family: Gilroy;
  position: relative;
}

#item__title1::before {
  content: "";
  background: url("../assets/img/levels/1lvl_icons/1card.svg");
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: -24px;
}

#item__title2::before {
  content: "";
  background: url("../assets/img/levels/1lvl_icons/2chat.svg");
  min-width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: -24px;
}

#item__title3::before {
  content: "";
  background: url("../assets/img/levels/1lvl_icons/3trophy.svg");
  min-width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: -24px;
}

#item__title1::after {
  content: "";
  background: url("../assets/img/levels/1lvl_icons/1icon.png");
  width: 133px;
  height: 77px;
  position: absolute;
  bottom: -49px;
  right: -36px;
}

#item__title2::after {
  content: "";
  background: url("../assets/img/levels/1lvl_icons/2icon.png");
  width: 133px;
  height: 77px;
  position: absolute;
  bottom: -35px;
  right: -92px;
}

#item__title3::after {
  content: "";
  background: url("../assets/img/levels/1lvl_icons/3icon.png");
  width: 133px;
  height: 77px;
  position: absolute;
  bottom: -35px;
  right: -92px;
}

